{
  "extends": ["stylelint-config-standard"],
  "rules": {
    "color-hex-length": "short",
    "color-named": "never",
    "declaration-block-no-duplicate-properties": [
      true,
      {
        "ignore": ["consecutive-duplicates-with-different-values"]
      }
    ],
    "declaration-block-single-line-max-declarations": 1,
    "declaration-empty-line-before": [
      "always",
      {
        "except": ["after-declaration", "first-nested"],
        "ignore": ["after-comment", "inside-single-line-block"]
      }
    ],
    "font-family-name-quotes": "always-where-recommended",
    "function-url-quotes": "always",
    "length-zero-no-unit": true,
    "max-nesting-depth": 3,
    "no-descending-specificity": null,
    "no-duplicate-selectors": true,
    "no-empty-source": null,
    "property-no-unknown": true,
    "rule-empty-line-before": [
      "always-multi-line",
      {
        "except": ["first-nested"],
        "ignore": ["after-comment"]
      }
    ],
    "selector-class-pattern": "^[a-z][a-z0-9\\-]*[a-z0-9]$",
    "selector-max-id": 0,
    "selector-no-qualifying-type": [
      true,
      {
        "ignore": ["attribute", "class", "id"]
      }
    ],
    "selector-pseudo-element-colon-notation": "double",
    "value-keyword-case": "lower"
  }
}
